{% extends "base.html" %}
{% block title %}Genesis App{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">A load simulator for Genesis</h1>
    <p class="lead">This is a work in progress; Make sure you know what you are doing</p>
    <hr class="my-4">
    <p>You need to have pilot credentials to the server that you are planning to put the load on. Also watch out for the load at both the server and the machine that hosts this service</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/genesis/app" role="button">Take me to the app</a>
    </p>
</div>
{% endblock %}